# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [156]:
# Do all imports and installs here
import pandas as pd
import numpy as np
import json

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>

#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included?

In [83]:
# Read in the data here
df_airport = pd.read_csv("airport-codes_csv.csv")
df_immigration = pd.read_csv("immigration_data_sample.csv")
df_demographics = pd.read_csv("us-cities-demographics.csv",sep=';')
df_temperature = pd.read_csv("GlobalLandTemperaturesByState.csv")

In [7]:
df_airport.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

In [8]:
df_immigration.head()

,Unnamed: 0,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,2027561,4084316.0,2016.0,4.0,209.0,209.0,HHW,20566.0,1.0,HI,...,NaN,M,1955.0,07202016,F,NaN,JL,5.658267e+10,00782,WT
1,2171295,4422636.0,2016.0,4.0,582.0,582.0,MCA,20567.0,1.0,TX,...,NaN,M,1990.0,10222016,M,NaN,*GA,9.436200e+10,XBLNG,B2
2,589494,1195600.0,2016.0,4.0,148.0,112.0,OGG,20551.0,1.0,FL,...,NaN,M,1940.0,07052016,M,NaN,LH,5.578047e+10,00464,WT
3,2631158,5291768.0,2016.0,4.0,297.0,297.0,LOS,20572.0,1.0,CA,...,NaN,M,1991.0,10272016,M,NaN,QR,9.478970e+10,00739,B2
4,3032257,985523.0,2016.0,4.0,111.0,111.0,CHM,20550.0,3.0,NY,...,NaN,M,1997.0,07042016,F,NaN,NaN,4.232257e+10,LAND,WT

In [9]:
df_demographics.head()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402

In [10]:
df_temperature.head()

           dt  AverageTemperature  AverageTemperatureUncertainty State Country
0  1855-05-01              25.544                          1.171  Acre  Brazil
1  1855-06-01              24.228                          1.103  Acre  Brazil
2  1855-07-01              24.371                          1.044  Acre  Brazil
3  1855-08-01              25.427                          1.073  Acre  Brazil
4  1855-09-01              25.675                          1.014  Acre  Brazil

In [10]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.\
config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
.enableHiveSupport().getOrCreate()
df_spark =spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')

In [17]:
df_sas = df_spark.limit(500).toPandas()

In [18]:
df_sas.head()

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,6.0,2016.0,4.0,692.0,692.0,XXX,20573.0,NaN,None,NaN,...,U,None,1979.0,10282016,None,None,None,1.897628e+09,None,B2
1,7.0,2016.0,4.0,254.0,276.0,ATL,20551.0,1.0,AL,NaN,...,Y,None,1991.0,D/S,M,None,None,3.736796e+09,00296,F1
2,15.0,2016.0,4.0,101.0,101.0,WAS,20545.0,1.0,MI,20691.0,...,None,M,1961.0,09302016,M,None,OS,6.666432e+08,93,B2
3,16.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,None,M,1988.0,09302016,None,None,AA,9.246846e+10,00199,B2
4,17.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,None,M,2012.0,09302016,None,None,AA,9.246846e+10,00199,B2

In [11]:
#write to parquet
df_spark.write.parquet("sas_data")
df_spark=spark.read.parquet("sas_data")

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data

### Temperature Data by State

In [179]:
# Performing cleaning tasks here
import datetime
df_temperature['dt'] = pd.to_datetime(df_temperature['dt'])
df_temperature['year'] = df_temperature['dt'].dt.year
df_temperature['month'] = df_temperature['dt'].dt.month

In [180]:
us_df_temperature = df_temperature[(df_temperature["Country"]=="United States")&(df_temperature['year'] == 2013)]

In [182]:
us_state_code = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District Of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia (State)': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Palau': 'PW',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}

us_code_state = {v: k for k, v in us_state_code.items()}

In [183]:
us_df_temperature['state_code'] = us_df_temperature.apply(lambda row: us_state_code[row["State"]],axis=1)

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [184]:
us_df_temperature.head(20)

,dt,AverageTemperature,AverageTemperatureUncertainty,State,Country,year,month,state_code
10688,2013-01-01,10.284,0.241,Alabama,United States,2013,1,AL
10689,2013-02-01,9.161,0.213,Alabama,United States,2013,2,AL
10690,2013-03-01,10.226,0.158,Alabama,United States,2013,3,AL
10691,2013-04-01,17.067,0.221,Alabama,United States,2013,4,AL
10692,2013-05-01,20.619,0.229,Alabama,United States,2013,5,AL
10693,2013-06-01,26.072,0.175,Alabama,United States,2013,6,AL
10694,2013-07-01,25.952,0.207,Alabama,United States,2013,7,AL
10695,2013-08-01,26.107,0.257,Alabama,United States,2013,8,AL
10696,2013-09-01,25.121,1.120,Alabama,United States,2013,9,AL
15098,2013-01-01,-15.329,0.495,Alaska,United States,2013,1,AK
15099,2013-02-01,-16.714,0.461,Alaska,United States,2013,2,AK
15100,2013-03-01,-13.312,0.460,Alaska,United States,2013,3,AK
15101,2013-04-01,-9.208,0.392,Alaska,United States,2013,4,AK
15102,2013-05-01,1.695,0.392,Alaska,United States,2013,5,AK
15103,2013-06-01,12.277,0.447,Alaska,United States,2013,6,AK
15104,2013-07-01,13.009,0.323,Alaska,United States,2013,7,AK
15105,2013-08-01,11.099,0.376,Alaska,United States,2013,8,AK
15106,2013-09-01,NaN,NaN,Alaska,United States,2013,9,AK
34144,2013-01-01,3.384,0.209,Arizona,United States,2013,1,AZ
34145,2013-02-01,5.586,0.229,Arizona,United States,2013,2,AZ

In [48]:
city_codes= {'ALC'	:	'ALCAN             ',
              'ANC'	:	'ANCHORAGE         ',
              'BAR'	:	'BAKER AAF - BAKER ISLAND',
              'DAC'	:	'DALTONS CACHE     ',
              'PIZ'	:	'DEW STATION PT LAY DEW',
              'DTH'	:	'DUTCH HARBOR      ',
              'EGL'	:	'EAGLE             ',
              'FRB'	:	'FAIRBANKS         ',
              'HOM'	:	'HOMER             ',
              'HYD'	:	'HYDER             ',
              'JUN'	:	'JUNEAU            ',
              '5KE'	:	'KETCHIKAN',
              'KET'	:	'KETCHIKAN         ',
              'MOS'	:	'MOSES POINT INTERMEDIATE',
              'NIK'	:	'NIKISKI           ',
              'NOM'	:	'NOM               ',
              'PKC'	:	'POKER CREEK       ',
              'ORI'	:	'PORT LIONS SPB',
              'SKA'	:	'SKAGWAY           ',
              'SNP'	:	'ST. PAUL ISLAND',
              'TKI'	:	'TOKEEN',
              'WRA'	:	'WRANGELL          ',
              'HSV'	:	'HUNTSVILLE',
              'MOB'	:	'MOBILE            ',
              'LIA'	:	'LITTLE ROCK',
              'ROG'	:	'ROGERS ARPT',
              'DOU'	:	'DOUGLAS           ',
              'LUK'	:	'LUKEVILLE         ',
              'MAP'	:	'MARIPOSA            ',
              'NAC'	:	'NACO              ',
              'NOG'	:	'NOGALES           ',
              'PHO'	:	'PHOENIX           ',
              'POR'	:	'PORTAL',
              'SLU'	:	'SAN LUIS          ',
              'SAS'	:	'SASABE            ',
              'TUC'	:	'TUCSON            ',
              'YUI'	:	'YUMA              ',
              'AND'	:	'ANDRADE           ',
              'BUR'	:	'BURBANK',
              'CAL'	:	'CALEXICO          ',
              'CAO'	:	'CAMPO             ',
              'FRE'	:	'FRESNO            ',
              'ICP'	:	'IMPERIAL COUNTY   ',
              'LNB'	:	'LONG BEACH         ',
              'LOS'	:	'LOS ANGELES       ',
              'BFL'	:	'BAKERSFIELD',
              'OAK'	:	'OAKLAND ',
              'ONT'	:	'ONTARIO',
              'OTM'	:	'OTAY MESA          ',
              'BLT'	:	'PACIFIC, HWY. STATION ',
              'PSP'	:	'PALM SPRINGS',
              'SAC'	:	'SACRAMENTO        ',
              'SLS'	:	'SALINAS (BPS)',
              'SDP'	:	'SAN DIEGO',
              'SFR'	:	'SAN FRANCISCO     ',
              'SNJ'	:	'SAN JOSE          ',
              'SLO'	:	'SAN LUIS OBISPO   ',
              'SLI'	:	'SAN LUIS OBISPO (BPS)',
              'SPC'	:	'SAN PEDRO         ',
              'SYS'	:	'SAN YSIDRO        ',
              'SAA'	:	'SANTA ANA         ',
              'STO'	:	'STOCKTON (BPS)',
              'TEC'	:	'TECATE            ',
              'TRV'	:	'TRAVIS-AFB        ',
              'APA'	:	'ARAPAHOE COUNTY',
              'ASE'	:	'ASPEN #ARPT',
              'COS'	:	'COLORADO SPRINGS',
              'DEN'	:	'DENVER            ',
              'DRO'	:	'LA PLATA - DURANGO',
              'BDL'	:	'BRADLEY INTERNATIONAL',
              'BGC'	:	'BRIDGEPORT        ',
              'GRT'	:	'GROTON            ',
              'HAR'	:	'HARTFORD          ',
              'NWH'	:	'NEW HAVEN         ',
              'NWL'	:	'NEW LONDON        ',
              'TST'	:	'NEWINGTON DATA CENTER TEST',
              'WAS'	:	'WASHINGTON DC         ',
              'DOV'	:	'DOVER AFB',
              'DVD'	:	'DOVER-AFB         ',
              'WLL'	:	'WILMINGTON        ',
              'BOC'	:	'BOCAGRANDE        ',
              'SRQ'	:	'BRADENTON - SARASOTA',
              'CAN'	:	'CAPE CANAVERAL    ',
              'DAB'	:	'DAYTONA BEACH INTERNATIONAL',
              'FRN'	:	'FERNANDINA        ',
              'FTL'	:	'FORT LAUDERDALE   ',
              'FMY'	:	'FORT MYERS        ',
              'FPF'	:	'FORT PIERCE       ',
              'HUR'	:	'HURLBURT FIELD',
              'GNV'	:	'J R ALISON MUNI - GAINESVILLE',
              'JAC'	:	'JACKSONVILLE      ',
              'KEY'	:	'KEY WEST          ',
              'LEE'	:	'LEESBURG MUNICIPAL AIRPORT',
              'MLB'	:	'MELBOURNE',
              'MIA'	:	'MIAMI             ',
              'APF'	:	'NAPLES #ARPT',
              'OPF'	:	'OPA LOCKA',
              'ORL'	:	'ORLANDO           ',
              'PAN'	:	'PANAMA CITY       ',
              'PEN'	:	'PENSACOLA         ',
              'PCF'	:	'PORT CANAVERAL    ',
              'PEV'	:	'PORT EVERGLADES   ',
              'PSJ'	:	'PORT ST JOE       ',
              'SFB'	:	'SANFORD           ',
              'SGJ'	:	'ST AUGUSTINE ARPT',
              'SAU'	:	'ST AUGUSTINE      ',
              'FPR'	:	'ST LUCIE COUNTY',
              'SPE'	:	'ST PETERSBURG     ',
              'TAM'	:	'TAMPA             ',
              'WPB'	:	'WEST PALM BEACH   ',
              'ATL'	:	'ATLANTA           ',
              'BRU'	:	'BRUNSWICK         ',
              'AGS'	:	'BUSH FIELD - AUGUSTA',
              'SAV'	:	'SAVANNAH          ',
              'AGA'	:	'AGANA             ',
              'HHW'	:	'HONOLULU          ',
              'OGG'	:	'KAHULUI - MAUI',
              'KOA'	:	'KEAHOLE-KONA      ',
              'LIH'	:	'LIHUE             ',
              'CID'	:	'CEDAR RAPIDS/IOWA CITY',
              'DSM'	:	'DES MOINES',
              'BOI'	:	'AIR TERM. (GOWEN FLD) BOISE',
              'EPI'	:	'EASTPORT          ',
              'IDA'	:	'FANNING FIELD - IDAHO FALLS',
              'PTL'	:	'PORTHILL          ',
              'SPI'	:	'CAPITAL - SPRINGFIELD',
              'CHI'	:	'CHICAGO           ',
              'DPA'	:	'DUPAGE COUNTY',
              'PIA'	:	'GREATER PEORIA',
              'RFD'	:	'GREATER ROCKFORD',
              'UGN'	:	'MEMORIAL - WAUKEGAN',
              'GAR'	:	'GARY              ',
              'HMM'	:	'HAMMOND           ',
              'INP'	:	'INDIANAPOLIS      ',
              'MRL'	:	'MERRILLVILLE      ',
              'SBN'	:	'SOUTH BEND',
              'ICT'	:	'MID-CONTINENT - WITCHITA',
              'LEX'	:	'BLUE GRASS - LEXINGTON',
              'LOU'	:	'LOUISVILLE        ',
              'BTN'	:	'BATON ROUGE       ',
              'LKC'	:	'LAKE CHARLES      ',
              'LAK'	:	'LAKE CHARLES (BPS)',
              'MLU'	:	'MONROE',
              'MGC'	:	'MORGAN CITY       ',
              'NOL'	:	'NEW ORLEANS       ',
              'BOS'	:	'BOSTON            ',
              'GLO'	:	'GLOUCESTER        ',
              'BED'	:	'HANSCOM FIELD - BEDFORD',
              'LYN'	:	'LYNDEN            ',
              'ADW'	:	'ANDREWS AFB',
              'BAL'	:	'BALTIMORE         ',
              'MKG'	:	'MUSKEGON',
              'PAX'	:	'PATUXENT RIVER    ',
              'BGM'	:	'BANGOR            ',
              'BOO'	:	'BOOTHBAY HARBOR   ',
              'BWM'	:	'BRIDGEWATER       ',
              'BCK'	:	'BUCKPORT          ',
              'CLS'	:	'CALAIS   ',
              'CRB'	:	'CARIBOU           ',
              'COB'	:	'COBURN GORE       ',
              'EST'	:	'EASTCOURT         ',
              'EPT'	:	'EASTPORT MUNICIPAL',
              'EPM'	:	'EASTPORT          ',
              'FOR'	:	'FOREST CITY       ',
              'FTF'	:	'FORT FAIRFIELD    ',
              'FTK'	:	'FORT KENT         ',
              'HML'	:	'HAMIIN            ',
              'HTM'	:	'HOULTON           ',
              'JKM'	:	'JACKMAN           ',
              'KAL'	:	'KALISPEL          ',
              'LIM'	:	'LIMESTONE         ',
              'LUB'	:	'LUBEC             ',
              'MAD'	:	'MADAWASKA         ',
              'POM'	:	'PORTLAND          ',
              'RGM'	:	'RANGELEY (BPS)',
              'SBR'	:	'SOUTH BREWER      ',
              'SRL'	:	'ST AURELIE        ',
              'SPA'	:	'ST PAMPILE        ',
              'VNB'	:	'VAN BUREN         ',
              'VCB'	:	'VANCEBORO         ',
              'AGN'	:	'ALGONAC           ',
              'ALP'	:	'ALPENA            ',
              'BCY'	:	'BAY CITY          ',
              'DET'	:	'DETROIT           ',
              'GRP'	:	'GRAND RAPIDS',
              'GRO'	:	'GROSSE ISLE       ',
              'ISL'	:	'ISLE ROYALE       ',
              'MRC'	:	'MARINE CITY       ',
              'MRY'	:	'MARYSVILLE        ',
              'PTK'	:	'OAKLAND COUNTY - PONTIAC',
              'PHU'	:	'PORT HURON        ',
              'RBT'	:	'ROBERTS LANDING   ',
              'SAG'	:	'SAGINAW           ',
              'SSM'	:	'SAULT STE. MARIE  ',
              'SCL'	:	'ST CLAIR          ',
              'YIP'	:	'WILLOW RUN - YPSILANTI',
              'BAU'	:	'BAUDETTE          ',
              'CAR'	:	'CARIBOU MUNICIPAL AIRPORT',
              'GTF'	:	'Collapsed into INT',
              'INL'	:	'Collapsed into INT',
              'CRA'	:	'CRANE LAKE        ',
              'MIC'	:	'CRYSTAL MUNICIPAL AIRPORT',
              'DUL'	:	'DULUTH            ',
              'ELY'	:	'ELY               ',
              'GPM'	:	'GRAND PORTAGE     ',
              'SVC'	:	'GRANT COUNTY - SILVER CITY',
              'INT'	:	'INT''L FALLS      ',
              'LAN'	:	'LANCASTER         ',
              'MSP'	:	'MINN./ST PAUL     ',
              'LIN'	:	'NORTHERN SVC CENTER   ',
              'NOY'	:	'NOYES             ',
              'PIN'	:	'PINE CREEK        ',
              '48Y'	:	'PINECREEK BORDER ARPT',
              'RAN'	:	'RAINER            ',
              'RST'	:	'ROCHESTER',
              'ROS'	:	'ROSEAU            ',
              'SPM'	:	'ST PAUL           ',
              'WSB'	:	'WARROAD INTL',
              'WAR'	:	'WARROAD           ',
              'KAN'	:	'KANSAS CITY       ',
              'SGF'	:	'SPRINGFIELD-BRANSON',
              'STL'	:	'ST LOUIS          ',
              'WHI'	:	'WHITETAIL         ',
              'WHM'	:	'WILD HORSE        ',
              'GPT'	:	'BILOXI REGIONAL',
              'GTR'	:	'GOLDEN TRIANGLE LOWNDES CNTY',
              'GUL'	:	'GULFPORT          ',
              'PAS'	:	'PASCAGOULA        ',
              'JAN'	:	'THOMPSON FIELD - JACKSON',
              'BIL'	:	'BILLINGS          ',
              'BTM'	:	'BUTTE             ',
              'CHF'	:	'CHIEF MT          ',
              'CTB'	:	'CUT BANK MUNICIPAL',
              'CUT'	:	'CUT BANK          ',
              'DLB'	:	'DEL BONITA        ',
              'EUR'	:	'EUREKA (BPS)',
              'BZN'	:	'GALLATIN FIELD - BOZEMAN',
              'FCA'	:	'GLACIER NATIONAL PARK',
              'GGW'	:	'GLASGOW           ',
              'GRE'	:	'GREAT FALLS       ',
              'HVR'	:	'HAVRE             ',
              'HEL'	:	'HELENA            ',
              'LWT'	:	'LEWISTON          ',
              'MGM'	:	'MORGAN            ',
              'OPH'	:	'OPHEIM            ',
              'PIE'	:	'PIEGAN            ',
              'RAY'	:	'RAYMOND           ',
              'ROO'	:	'ROOSVILLE         ',
              'SCO'	:	'SCOBEY            ',
              'SWE'	:	'SWEETGTASS        ',
              'TRL'	:	'TRIAL CREEK       ',
              'TUR'	:	'TURNER            ',
              'WCM'	:	'WILLOW CREEK      ',
              'CLT'	:	'CHARLOTTE         ',
              'FAY'	:	'FAYETTEVILLE',
              'MRH'	:	'MOREHEAD CITY     ',
              'FOP'	:	'MORRIS FIELDS AAF',
              'GSO'	:	'PIEDMONT TRIAD INTL AIRPORT',
              'RDU'	:	'RALEIGH/DURHAM    ',
              'SSC'	:	'SHAW AFB - SUMTER',
              'WIL'	:	'WILMINGTON        ',
              'AMB'	:	'AMBROSE           ',
              'ANT'	:	'ANTLER            ',
              'CRY'	:	'CARBURY           ',
              'DNS'	:	'DUNSEITH          ',
              'FAR'	:	'FARGO             ',
              'FRT'	:	'FORTUNA           ',
              'GRF'	:	'GRAND FORKS       ',
              'HNN'	:	'HANNAH            ',
              'HNS'	:	'HANSBORO          ',
              'MAI'	:	'MAIDA             ',
              'MND'	:	'MINOT             ',
              'NEC'	:	'NECHE             ',
              'NOO'	:	'NOONAN            ',
              'NRG'	:	'NORTHGATE         ',
              'PEM'	:	'PEMBINA           ',
              'SAR'	:	'SARLES            ',
              'SHR'	:	'SHERWOOD          ',
              'SJO'	:	'ST JOHN           ',
              'WAL'	:	'WALHALLA          ',
              'WHO'	:	'WESTHOPE          ',
              'WND'	:	'WILLISTON         ',
              'OMA'	:	'OMAHA             ',
              'LEB'	:	'LEBANON           ',
              'MHT'	:	'MANCHESTER',
              'PNH'	:	'PITTSBURG         ',
              'PSM'	:	'PORTSMOUTH        ',
              'BYO'	:	'BAYONNE           ',
              'CNJ'	:	'CAMDEN            ',
              'HOB'	:	'HOBOKEN           ',
              'JER'	:	'JERSEY CITY       ',
              'WRI'	:	'MC GUIRE AFB - WRIGHTSOWN',
              'MMU'	:	'MORRISTOWN',
              'NEW'	:	'NEWARK/TETERBORO  ',
              'PER'	:	'PERTH AMBOY       ',
              'ACY'	:	'POMONA FIELD - ATLANTIC CITY',
              'ALA'	:	'ALAMAGORDO (BPS)',
              'ABQ'	:	'ALBUQUERQUE       ',
              'ANP'	:	'ANTELOPE WELLS    ',
              'CRL'	:	'CARLSBAD          ',
              'COL'	:	'COLUMBUS          ',
              'CDD'	:	'CRANE LAKE - ST. LOUIS CNTY',
              'DNM'	:	'DEMING (BPS)',
              'LAS'	:	'LAS CRUCES        ',
              'LOB'	:	'LORDSBURG (BPS)',
              'RUI'	:	'RUIDOSO',
              'STR'	:	'SANTA TERESA      ',
              'RNO'	:	'CANNON INTL - RENO/TAHOE',
              'FLX'	:	'FALLON MUNICIPAL AIRPORT',
              'LVG'	:	'LAS VEGAS         ',
              'REN'	:	'RENO              ',
              'ALB'	:	'ALBANY            ',
              'AXB'	:	'ALEXANDRIA BAY    ',
              'BUF'	:	'BUFFALO           ',
              'CNH'	:	'CANNON CORNERS',
              'CAP'	:	'CAPE VINCENT      ',
              'CHM'	:	'CHAMPLAIN         ',
              'CHT'	:	'CHATEAUGAY        ',
              'CLA'	:	'CLAYTON           ',
              'FTC'	:	'FORT COVINGTON    ',
              'LAG'	:	'LA GUARDIA        ',
              'LEW'	:	'LEWISTON          ',
              'MAS'	:	'MASSENA           ',
              'MAG'	:	'MCGUIRE AFB       ',
              'MOO'	:	'MOORES            ',
              'MRR'	:	'MORRISTOWN        ',
              'NYC'	:	'NEW YORK          ',
              'NIA'	:	'NIAGARA FALLS     ',
              'OGD'	:	'OGDENSBURG        ',
              'OSW'	:	'OSWEGO            ',
              'ELM'	:	'REGIONAL ARPT - HORSEHEAD',
              'ROC'	:	'ROCHESTER         ',
              'ROU'	:	'ROUSES POINT      ',
              'SWF'	:	'STEWART - ORANGE CNTY',
              'SYR'	:	'SYRACUSE          ',
              'THO'	:	'THOUSAND ISLAND BRIDGE',
              'TRO'	:	'TROUT RIVER       ',
              'WAT'	:	'WATERTOWN         ',
              'HPN'	:	'WESTCHESTER - WHITE PLAINS',
              'WRB'	:	'WHIRLPOOL BRIDGE',
              'YOU'	:	'YOUNGSTOWN        ',
              'AKR'	:	'AKRON             ',
              'ATB'	:	'ASHTABULA         ',
              'CIN'	:	'CINCINNATI        ',
              'CLE'	:	'CLEVELAND         ',
              'CLM'	:	'COLUMBUS          ',
              'LOR'	:	'LORAIN            ',
              'MBO'	:	'MARBLE HEADS      ',
              'SDY'	:	'SANDUSKY          ',
              'TOL'	:	'TOLEDO            ',
              'OKC'	:	'OKLAHOMA CITY     ',
              'TUL'	:	'TULSA',
              'AST'	:	'ASTORIA           ',
              'COO'	:	'COOS BAY          ',
              'HIO'	:	'HILLSBORO',
              'MED'	:	'MEDFORD           ',
              'NPT'	:	'NEWPORT           ',
              'POO'	:	'PORTLAND          ',
              'PUT'	:	'PUT-IN-BAY        ',
              'RDM'	:	'ROBERTS FIELDS - REDMOND',
              'ERI'	:	'ERIE              ',
              'MDT'	:	'HARRISBURG',
              'HSB'	:	'HARRISONBURG      ',
              'PHI'	:	'PHILADELPHIA      ',
              'PIT'	:	'PITTSBURG         ',
              'AGU'	:	'AGUADILLA         ',
              'BQN'	:	'BORINQUEN - AGUADILLO',
              'JCP'	:	'CULEBRA - BENJAMIN RIVERA',
              'ENS'	:	'ENSENADA          ',
              'FAJ'	:	'FAJARDO           ',
              'HUM'	:	'HUMACAO           ',
              'JOB'	:	'JOBOS             ',
              'MAY'	:	'MAYAGUEZ          ',
              'PON'	:	'PONCE             ',
              'PSE'	:	'PONCE-MERCEDITA',
              'SAJ'	:	'SAN JUAN          ',
              'VQS'	:	'VIEQUES-ARPT',
              'PRO'	:	'PROVIDENCE        ',
              'PVD'	:	'THEODORE FRANCIS - WARWICK',
              'CHL'	:	'CHARLESTON        ',
              'CAE'	:	'COLUMBIA #ARPT',
              'GEO'	:	'GEORGETOWN        ',
              'GSP'	:	'GREENVILLE',
              'GRR'	:	'GREER',
              'MYR'	:	'MYRTLE BEACH',
              'SPF'	:	'BLACK HILLS, SPEARFISH',
              'HON'	:	'HOWES REGIONAL ARPT - HURON',
              'SAI'	:	'SAIPAN, SPN           ',
              'TYS'	:	'MC GHEE TYSON - ALCOA',
              'MEM'	:	'MEMPHIS           ',
              'NSV'	:	'NASHVILLE         ',
              'TRI'	:	'TRI CITY ARPT',
              'ADS'	:	'ADDISON AIRPORT- ADDISON',
              'ADT'	:	'AMISTAD DAM       ',
              'ANZ'	:	'ANZALDUAS',
              'AUS'	:	'AUSTIN            ',
              'BEA'	:	'BEAUMONT          ',
              'BBP'	:	'BIG BEND PARK (BPS)',
              'SCC'	:	'BP SPEC COORD. CTR',
              'BTC'	:	'BP TACTICAL UNIT  ',
              'BOA'	:	'BRIDGE OF AMERICAS',
              'BRO'	:	'BROWNSVILLE       ',
              'CRP'	:	'CORPUS CHRISTI    ',
              'DAL'	:	'DALLAS            ',
              'DLR'	:	'DEL RIO           ',
              'DNA'	:	'DONNA',
              'EGP'	:	'EAGLE PASS        ',
              'ELP'	:	'EL PASO           ',
              'FAB'	:	'FABENS            ',
              'FAL'	:	'FALCON HEIGHTS    ',
              'FTH'	:	'FORT HANCOCK      ',
              'AFW'	:	'FORT WORTH ALLIANCE',
              'FPT'	:	'FREEPORT          ',
              'GAL'	:	'GALVESTON         ',
              'HLG'	:	'HARLINGEN         ',
              'HID'	:	'HIDALGO           ',
              'HOU'	:	'HOUSTON           ',
              'SGR'	:	'HULL FIELD, SUGAR LAND ARPT',
              'LLB'	:	'JUAREZ-LINCOLN BRIDGE',
              'LCB'	:	'LAREDO COLUMBIA BRIDGE',
              'LRN'	:	'LAREDO NORTH      ',
              'LAR'	:	'LAREDO            ',
              'LSE'	:	'LOS EBANOS        ',
              'IND'	:	'LOS INDIOS',
              'LOI'	:	'LOS INDIOS        ',
              'MRS'	:	'MARFA (BPS)',
              'MCA'	:	'MCALLEN           ',
              'MAF'	:	'ODESSA REGIONAL',
              'PDN'	:	'PASO DEL NORTE,TX     ',
              'PBB'	:	'PEACE BRIDGE      ',
              'PHR'	:	'PHARR             ',
              'PAR'	:	'PORT ARTHUR       ',
              'ISB'	:	'PORT ISABEL       ',
              'POE'	:	'PORT OF EL PASO   ',
              'PRE'	:	'PRESIDIO          ',
              'PGR'	:	'PROGRESO          ',
              'RIO'	:	'RIO GRANDE CITY   ',
              'ROM'	:	'ROMA              ',
              'SNA'	:	'SAN ANTONIO       ',
              'SNN'	:	'SANDERSON         ',
              'VIB'	:	'VETERAN INTL BRIDGE',
              'YSL'	:	'YSLETA            ',
              'CHA'	:	'CHARLOTTE AMALIE  ',
              'CHR'	:	'CHRISTIANSTED     ',
              'CRU'	:	'CRUZ BAY, ST JOHN ',
              'FRK'	:	'FREDERIKSTED      ',
              'STT'	:	'ST THOMAS         ',
              'LGU'	:	'CACHE AIRPORT - LOGAN',
              'SLC'	:	'SALT LAKE CITY    ',
              'CHO'	:	'ALBEMARLE CHARLOTTESVILLE',
              'DAA'	:	'DAVISON AAF - FAIRFAX CNTY',
              'HOP'	:	'HOPEWELL          ',
              'HEF'	:	'MANASSAS #ARPT',
              'NWN'	:	'NEWPORT           ',
              'NOR'	:	'NORFOLK           ',
              'RCM'	:	'RICHMOND          ',
              'ABS'	:	'ALBURG SPRINGS    ',
              'ABG'	:	'ALBURG            ',
              'BEB'	:	'BEEBE PLAIN       ',
              'BEE'	:	'BEECHER FALLS     ',
              'BRG'	:	'BURLINGTON        ',
              'CNA'	:	'CANAAN            ',
              'DER'	:	'DERBY LINE (I-91) ',
              'DLV'	:	'DERBY LINE (RT. 5)',
              'ERC'	:	'EAST RICHFORD     ',
              'HIG'	:	'HIGHGATE SPRINGS  ',
              'MOR'	:	'MORSES LINE       ',
              'NPV'	:	'NEWPORT           ',
              'NRT'	:	'NORTH TROY        ',
              'NRN'	:	'NORTON            ',
              'PIV'	:	'PINNACLE ROAD     ',
              'RIF'	:	'RICHFORT          ',
              'STA'	:	'ST ALBANS         ',
              'SWB'	:	'SWANTON (BP - SECTOR HQ)',
              'WBE'	:	'WEST BERKSHIRE    ',
              'ABE'	:	'ABERDEEN          ',
              'ANA'	:	'ANACORTES         ',
              'BEL'	:	'BELLINGHAM        ',
              'BLI'	:	'BELLINGHAMSHINGTON #INTL',
              'BLA'	:	'BLAINE            ',
              'BWA'	:	'BOUNDARY          ',
              'CUR'	:	'CURLEW (BPS)',
              'DVL'	:	'DANVILLE          ',
              'EVE'	:	'EVERETT           ',
              'FER'	:	'FERRY             ',
              'FRI'	:	'FRIDAY HARBOR     ',
              'FWA'	:	'FRONTIER          ',
              'KLM'	:	'KALAMA            ',
              'LAU'	:	'LAURIER           ',
              'LON'	:	'LONGVIEW          ',
              'MET'	:	'METALINE FALLS    ',
              'MWH'	:	'MOSES LAKE GRANT COUNTY ARPT',
              'NEA'	:	'NEAH BAY          ',
              'NIG'	:	'NIGHTHAWK         ',
              'OLY'	:	'OLYMPIA           ',
              'ORO'	:	'OROVILLE          ',
              'PWB'	:	'PASCO             ',
              'PIR'	:	'POINT ROBERTS     ',
              'PNG'	:	'PORT ANGELES      ',
              'PTO'	:	'PORT TOWNSEND     ',
              'SEA'	:	'SEATTLE           ',
              'SPO'	:	'SPOKANE           ',
              'SUM'	:	'SUMAS             ',
              'TAC'	:	'TACOMA            ',
              'PSC'	:	'TRI-CITIES - PASCO',
              'VAN'	:	'VANCOUVER         ',
              'AGM'	:	'ALGOMA            ',
              'BAY'	:	'BAYFIELD          ',
              'GRB'	:	'GREEN BAY         ',
              'MNW'	:	'MANITOWOC         ',
              'MIL'	:	'MILWAUKEE         ',
              'MSN'	:	'TRUAX FIELD - DANE COUNTY',
              'CHS'	:	'CHARLESTON        ',
              'CLK'	:	'CLARKSBURG        ',
              'BLF'	:	'MERCER COUNTY',
              'CSP'	:	'CASPER            ',
              'XXX': 'NOT REPORTED/UNKNOWN  ',
              '888': 'UNIDENTIFED AIR / SEAPORT',
              'UNK': 'UNKNOWN POE           ',
              'CLG': 'CALGARY, CANADA       ',
              'EDA': 'EDMONTON, CANADA      ',
              'YHC': 'HAKAI PASS, CANADA',
              'HAL': 'Halifax, NS, Canada   ',
              'MON': 'MONTREAL, CANADA      ',
              'OTT': 'OTTAWA, CANADA        ',
              'YXE': 'SASKATOON, CANADA',
              'TOR': 'TORONTO, CANADA       ',
              'VCV': 'VANCOUVER, CANADA     ',
              'VIC': 'VICTORIA, CANADA      ',
              'WIN': 'WINNIPEG, CANADA      ',
              'AMS': 'AMSTERDAM-SCHIPHOL, NETHERLANDS',
              'ARB': 'ARUBA, NETH ANTILLES  ',
              'BAN': 'BANKOK, THAILAND      ',
              'BEI': 'BEICA #ARPT, ETHIOPIA',
              'PEK': 'BEIJING CAPITAL INTL, PRC',
              'BDA': 'KINDLEY FIELD, BERMUDA',
              'BOG': 'BOGOTA, EL DORADO #ARPT, COLOMBIA',
              'EZE': 'BUENOS AIRES, MINISTRO PIST, ARGENTINA',
              'CUN': 'CANCUN, MEXICO',
              'CRQ': 'CARAVELAS, BA #ARPT, BRAZIL',
              'MVD': 'CARRASCO, URUGUAY',
              'DUB': 'DUBLIN, IRELAND       ',
              'FOU': 'FOUGAMOU #ARPT, GABON',
              'FBA': 'FREEPORT, BAHAMAS      ',
              'MTY': 'GEN M. ESCOBEDO, Monterrey, MX',
              'HMO': 'GEN PESQUEIRA GARCIA, MX',
              'GCM': 'GRAND CAYMAN, CAYMAN ISLAND',
              'GDL': 'GUADALAJARA, MIGUEL HIDAL, MX',
              'HAM': 'HAMILTON, BERMUDA     ',
              'ICN': 'INCHON, SEOUL KOREA',
              'IWA': 'INVALID - IWAKUNI, JAPAN',
              'CND': 'KOGALNICEANU, ROMANIA',
              'LAH': 'LABUHA ARPT, INDONESIA',
              'DUR': 'LOUIS BOTHA, SOUTH AFRICA',
              'MAL': 'MANGOLE ARPT, INDONESIA',
              'MDE': 'MEDELLIN, COLOMBIA',
              'MEX': 'JUAREZ INTL, MEXICO CITY, MX',
              'LHR': 'MIDDLESEX, ENGLAND',
              'NBO': 'NAIROBI, KENYA        ',
              'NAS': 'NASSAU, BAHAMAS       ',
              'NCA': 'NORTH CAICOS, TURK & CAIMAN',
              'PTY': 'OMAR TORRIJOS, PANAMA',
              'SPV': 'PAPUA, NEW GUINEA',
              'UIO': 'QUITO (MARISCAL SUCR), ECUADOR',
              'RIT': 'ROME, ITALY           ',
              'SNO': 'SAKON NAKHON #ARPT, THAILAND',
              'SLP': 'SAN LUIS POTOSI #ARPT, MEXICO',
              'SAN': 'SAN SALVADOR, EL SALVADOR',
              'SRO': 'SANTANA RAMOS #ARPT, COLOMBIA',
              'GRU': 'GUARULHOS INTL, SAO PAULO, BRAZIL',
              'SHA': 'SHANNON, IRELAND      ',
              'HIL': 'SHILLAVO, ETHIOPIA',
              'TOK': 'TOROKINA #ARPT, PAPUA, NEW GUINEA',
              'VER': 'VERACRUZ, MEXICO',
              'LGW': 'WEST SUSSEX, ENGLAND  ',
              'ZZZ': 'MEXICO Land (Banco de Mexico) ',
              'CHN': 'No PORT Code (CHN)',
              'CNC': 'CANNON CORNERS, NY',
              'MAA': 'Abu Dhabi',
              'AG0': 'MAGNOLIA',
              'BHM': 'BAR HARBOR',
              'BHX': 'BIRMINGHAM',
              'CAK': 'AKRON',
              'FOK': 'SUFFOLK COUNTY',
              'LND': 'LANDER',
              'MAR': 'MARFA',
              'MLI': 'MOLINE',
              'RIV': 'RIVERSIDE',
              'RME': 'ROME',
              'VNY': 'VAN NUYS',
              'YUM': 'YUMA',
             'W55': 'SEATTLE'
}

### Immigration Data by State with Origin

In [54]:
df_immigration_without_nulls = df_immigration[(df_immigration.i94addr.notnull())&(df_immigration.i94res.notnull())]
df_immigration_filtered = df_immigration_without_nulls[(df_immigration_without_nulls['i94addr'].isin(us_abbrev_state))&(df_immigration_without_nulls['i94port'].isin(city_codes))]

In [59]:
immigration_codes = {
    582: 'MEXICO Air Sea, and Not Reported (I-94, no land arrivals)',
    236:  'AFGHANISTAN',
    101:  'ALBANIA',
    316:  'ALGERIA',
    102:  'ANDORRA',
    324:  'ANGOLA',
    529:  'ANGUILLA',
    518:  'ANTIGUA-BARBUDA',
    687:  'ARGENTINA ',
    151:  'ARMENIA',
    532:  'ARUBA',
    438:  'AUSTRALIA',
    103:  'AUSTRIA',
    152:  'AZERBAIJAN',
    512:  'BAHAMAS',
    298:  'BAHRAIN',
    274:  'BANGLADESH',
    513:  'BARBADOS',
    104:  'BELGIUM',
    581:  'BELIZE',
    386:  'BENIN',
    509:  'BERMUDA',
    153:  'BELARUS',
    242:  'BHUTAN',
    688:  'BOLIVIA',
    717:  'BONAIRE, ST EUSTATIUS, SABA',
    164:  'BOSNIA-HERZEGOVINA',
    336:  'BOTSWANA',
    689:  'BRAZIL',
    525:  'BRITISH VIRGIN ISLANDS',
    217:  'BRUNEI',
    105:  'BULGARIA',
    393:  'BURKINA FASO',
    243:  'BURMA',
    375:  'BURUNDI',
    310:  'CAMEROON',
    326:  'CAPE VERDE',
    526:  'CAYMAN ISLANDS',
    383:  'CENTRAL AFRICAN REPUBLIC',
    384:  'CHAD',
    690:  'CHILE',
    245:  'CHINA, PRC',
    721:  'CURACAO',
    270:  'CHRISTMAS ISLAND',
    271:  'COCOS ISLANDS',
    691:  'COLOMBIA',
    317:  'COMOROS',
    385:  'CONGO',
    467:  'COOK ISLANDS',
    575:  'COSTA RICA',
    165:  'CROATIA',
    584:  'CUBA',
    218:  'CYPRUS',
    140:  'CZECH REPUBLIC',
    723:  'FAROE ISLANDS (PART OF DENMARK)',
    108:  'DENMARK',
    322:  'DJIBOUTI',
    519:  'DOMINICA',
    585:  'DOMINICAN REPUBLIC',
    240:  'EAST TIMOR',
    692:  'ECUADOR',
    368:  'EGYPT',
    576:  'EL SALVADOR',
    399:  'EQUATORIAL GUINEA',
    372:  'ERITREA',
    109:  'ESTONIA',
    369:  'ETHIOPIA',
    604:  'FALKLAND ISLANDS',
    413:  'FIJI',
    110:  'FINLAND',
    111:  'FRANCE',
    601:  'FRENCH GUIANA',
    411:  'FRENCH POLYNESIA',
    387:  'GABON',
    338:  'GAMBIA',
    758:  'GAZA STRIP',
    154:  'GEORGIA',
    112:  'GERMANY',
    339:  'GHANA',
    143:  'GIBRALTAR',
    113:  'GREECE',
    520:  'GRENADA',
    507:  'GUADELOUPE',
    577:  'GUATEMALA',
    382:  'GUINEA',
    327:  'GUINEA-BISSAU',
    603:  'GUYANA',
    586:  'HAITI',
    726:  'HEARD AND MCDONALD IS.',
    149:  'HOLY SEE/VATICAN',
    528:  'HONDURAS',
    206:  'HONG KONG',
    114:  'HUNGARY',
    115:  'ICELAND',
    213:  'INDIA',
    759:  'INDIAN OCEAN AREAS (FRENCH)',
    729:  'INDIAN OCEAN TERRITORY',
    204:  'INDONESIA',
    249:  'IRAN',
    250:  'IRAQ',
    116:  'IRELAND',
    251:  'ISRAEL',
    117:  'ITALY',
    388:  'IVORY COAST',
    514:  'JAMAICA',
    209:  'JAPAN',
    253:  'JORDAN',
    201:  'KAMPUCHEA',
    155:  'KAZAKHSTAN',
    340:  'KENYA',
    414:  'KIRIBATI',
    732:  'KOSOVO',
    272:  'KUWAIT',
    156:  'KYRGYZSTAN',
    203:  'LAOS',
    118:  'LATVIA',
    255:  'LEBANON',
    335:  'LESOTHO',
    370:  'LIBERIA',
    381:  'LIBYA',
    119:  'LIECHTENSTEIN',
    120:  'LITHUANIA',
    121:  'LUXEMBOURG',
    214:  'MACAU',
    167:  'MACEDONIA',
    320:  'MADAGASCAR',
    345:  'MALAWI',
    273:  'MALAYSIA',
    220:  'MALDIVES',
    392:  'MALI',
    145:  'MALTA',
    472:  'MARSHALL ISLANDS',
    511:  'MARTINIQUE',
    389:  'MAURITANIA',
    342:  'MAURITIUS',
    760:  'MAYOTTE (AFRICA - FRENCH)',
    473:  'MICRONESIA, FED. STATES OF',
    157:  'MOLDOVA',
    122:  'MONACO',
    299:  'MONGOLIA',
    735:  'MONTENEGRO',
    521:  'MONTSERRAT',
    332:  'MOROCCO',
    329:  'MOZAMBIQUE',
    371:  'NAMIBIA',
    440:  'NAURU',
    257:  'NEPAL',
    123:  'NETHERLANDS',
    508:  'NETHERLANDS ANTILLES',
    409:  'NEW CALEDONIA',
    464:  'NEW ZEALAND',
    579:  'NICARAGUA',
    390:  'NIGER',
    343:  'NIGERIA',
    470:  'NIUE',
    275:  'NORTH KOREA',
    124:  'NORWAY',
    256:  'OMAN',
    258:  'PAKISTAN',
    474:  'PALAU',
    743:  'PALESTINE',
    504:  'PANAMA',
    441:  'PAPUA NEW GUINEA',
    693:  'PARAGUAY',
    694:  'PERU',
    260:  'PHILIPPINES',
    416:  'PITCAIRN ISLANDS',
    107:  'POLAND',
    126:  'PORTUGAL',
    297:  'QATAR',
    748:  'REPUBLIC OF SOUTH SUDAN',
    321:  'REUNION',
    127:  'ROMANIA',
    158:  'RUSSIA',
    376:  'RWANDA',
    128:  'SAN MARINO',
    330:  'SAO TOME AND PRINCIPE',
    261:  'SAUDI ARABIA',
    391:  'SENEGAL',
    142:  'SERBIA AND MONTENEGRO',
    745:  'SERBIA',
    347:  'SEYCHELLES',
    348:  'SIERRA LEONE',
    207:  'SINGAPORE',
    141:  'SLOVAKIA',
    166:  'SLOVENIA',
    412:  'SOLOMON ISLANDS',
    397:  'SOMALIA',
    373:  'SOUTH AFRICA',
    276:  'SOUTH KOREA',
    129:  'SPAIN',
    244:  'SRI LANKA',
    346:  'ST. HELENA',
    522:  'ST. KITTS-NEVIS',
    523:  'ST. LUCIA',
    502:  'ST. PIERRE AND MIQUELON',
    524:  'ST. VINCENT-GRENADINES',
    716:  'SAINT BARTHELEMY',
    736:  'SAINT MARTIN',
    749:  'SAINT MAARTEN',
    350:  'SUDAN',
    602:  'SURINAME',
    351:  'SWAZILAND',
    130:  'SWEDEN',
    131:  'SWITZERLAND',
    262:  'SYRIA',
    268:  'TAIWAN',
    159:  'TAJIKISTAN',
    353:  'TANZANIA',
    263:  'THAILAND',
    304:  'TOGO',
    417:  'TONGA',
    516:  'TRINIDAD AND TOBAGO',
    323:  'TUNISIA',
    264:  'TURKEY',
    161:  'TURKMENISTAN',
    527:  'TURKS AND CAICOS ISLANDS',
    420:  'TUVALU',
    352:  'UGANDA',
    162:  'UKRAINE',
    296:  'UNITED ARAB EMIRATES',
    135:  'UNITED KINGDOM',
    695:  'URUGUAY',
    163:  'UZBEKISTAN',
    410:  'VANUATU',
    696:  'VENEZUELA',
    266:  'VIETNAM',
    469:  'WALLIS AND FUTUNA ISLANDS',
    757:  'WEST INDIES (FRENCH)',
    333:  'WESTERN SAHARA',
    465:  'WESTERN SAMOA',
    216:  'YEMEN',
    139:  'YUGOSLAVIA',
    301:  'ZAIRE',
    344:  'ZAMBIA',
    315:  'ZIMBABWE',
    403:  'INVALID: AMERICAN SAMOA',
    712:  'INVALID: ANTARCTICA',
    700:  'INVALID: BORN ON BOARD SHIP',
    719:  'INVALID: BOUVET ISLAND (ANTARCTICA/NORWAY TERR.)',
    574:  'INVALID: CANADA',
    720:  'INVALID: CANTON AND ENDERBURY ISLS',
    106:  'INVALID: CZECHOSLOVAKIA',
    739:  'INVALID: DRONNING MAUD LAND (ANTARCTICA-NORWAY)',
    394:  'INVALID: FRENCH SOUTHERN AND ANTARCTIC',
    501:  'INVALID: GREENLAND',
    404:  'INVALID: GUAM',
    730:  'INVALID: INTERNATIONAL WATERS',
    731:  'INVALID: JOHNSON ISLAND',
    471:  'INVALID: MARIANA ISLANDS, NORTHERN',
    737:  'INVALID: MIDWAY ISLANDS',
    753:  'INVALID: MINOR OUTLYING ISLANDS - USA',
    740:  'INVALID: NEUTRAL ZONE (S. ARABIA/IRAQ)',
    710:  'INVALID: NON-QUOTA IMMIGRANT',
    505:  'INVALID: PUERTO RICO',
    0:  'INVALID: STATELESS',
    705:  'INVALID: STATELESS',
    583:  'INVALID: UNITED STATES',
    407:  'INVALID: UNITED STATES',
    999:  'INVALID: UNKNOWN',
    239:  'INVALID: UNKNOWN COUNTRY',
    134:  'INVALID: USSR',
    506:  'INVALID: U.S. VIRGIN ISLANDS',
    755:  'INVALID: WAKE ISLAND',
    311:  'Collapsed Tanzania (should not show)',
    741:  'Collapsed Curacao (should not show)',
    54:  'No Country Code (54)',
    100:  'No Country Code (100)',
    187:  'No Country Code (187)',
    190:  'No Country Code (190)',
    200:  'No Country Code (200)',
    219:  'No Country Code (219)',
    238:  'No Country Code (238)',
    277:  'No Country Code (277)',
    293:  'No Country Code (293)',
    300:  'No Country Code (300)',
    319:  'No Country Code (319)',
    365:  'No Country Code (365)',
    395:  'No Country Code (395)',
    400:  'No Country Code (400)',
    485:  'No Country Code (485)',
    503:  'No Country Code (503)',
    589:  'No Country Code (589)',
    592:  'No Country Code (592)',
    791:  'No Country Code (791)',
    849:  'No Country Code (849)',
    914:  'No Country Code (914)',
    944:  'No Country Code (944)',
    996:  'No Country Code (996)',
}

In [72]:
df_immigration_filtered['origin_country'] = df_immigration_filtered.apply(lambda row: immigration_codes[row["i94res"]],axis=1)
df_immigration_filtered['dest_state_name'] = df_immigration_filtered.apply(lambda row: us_abbrev_state[row["i94addr"]],axis=1)
df_immigration_filtered['city_port_name'] = df_immigration_filtered.apply(lambda row: city_codes[row["i94port"]],axis=1)
df_immigration_filtered['i94yr'] = df_immigration_filtered.apply(lambda row: int(row["i94yr"]),axis=1)
df_immigration_filtered['i94mon'] = df_immigration_filtered.apply(lambda row: int(row["i94mon"]),axis=1)
df_immigration_filtered['cicid'] = df_immigration_filtered.apply(lambda row: int(row["cicid"]),axis=1)

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [67]:
df_immigration_filtered

,Unnamed: 0,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,...,dtaddto,gender,insnum,airline,admnum,fltno,visatype,dest_state_name,origin_country,city_port_name
0,2027561,4084316.0,2016,4,209.0,209.0,HHW,20566.0,1.0,HI,...,07202016,F,NaN,JL,5.658267e+10,00782,WT,Hawaii,JAPAN,HONOLULU
1,2171295,4422636.0,2016,4,582.0,582.0,MCA,20567.0,1.0,TX,...,10222016,M,NaN,*GA,9.436200e+10,XBLNG,B2,Texas,"MEXICO Air Sea, and Not Reported (I-94, no lan...",MCALLEN
2,589494,1195600.0,2016,4,148.0,112.0,OGG,20551.0,1.0,FL,...,07052016,M,NaN,LH,5.578047e+10,00464,WT,Florida,GERMANY,KAHULUI - MAUI
3,2631158,5291768.0,2016,4,297.0,297.0,LOS,20572.0,1.0,CA,...,10272016,M,NaN,QR,9.478970e+10,00739,B2,California,QATAR,LOS ANGELES
4,3032257,985523.0,2016,4,111.0,111.0,CHM,20550.0,3.0,NY,...,07042016,F,NaN,NaN,4.232257e+10,LAND,WT,New York,FRANCE,CHAMPLAIN
5,721257,1481650.0,2016,4,577.0,577.0,ATL,20552.0,1.0,GA,...,10072016,M,NaN,DL,7.368526e+08,910,B2,Georgia (State),GUATEMALA,ATLANTA
6,1072780,2197173.0,2016,4,245.0,245.0,SFR,20556.0,1.0,CA,...,10112016,F,NaN,CX,7.863122e+08,870,B2,California,"CHINA, PRC",SAN FRANCISCO
7,112205,232708.0,2016,4,113.0,135.0,NYC,20546.0,1.0,NY,...,06302016,F,NaN,BA,5.547449e+10,00117,WT,New York,UNITED KINGDOM,NEW YORK
8,2577162,5227851.0,2016,4,131.0,131.0,CHI,20572.0,1.0,IL,...,07262016,NaN,NaN,LX,5.941342e+10,00008,WT,Illinois,SWITZERLAND,CHICAGO
9,10930,13213.0,2016,4,116.0,116.0,LOS,20545.0,1.0,CA,...,06292016,NaN,NaN,AA,5.544979e+10,00109,WT,California,IRELAND,LOS ANGELES
10,617174,1230572.0,2016,4,438.0,438.0,LOS,20551.0,1.0,CA,...,07052016,F,NaN,QF,5.574381e+10,00015,WT,California,AUSTRALIA,LOS ANGELES
11,2497156,5056736.0,2016,4,209.0,209.0,PHI,20571.0,1.0,HI,...,07252016,M,NaN,DL,5.933662e+10,00598,WT,Hawaii,JAPAN,PHILADELPHIA
13,2430322,4916639.0,2016,4,260.0,260.0,LOS,20570.0,1.0,CA,...,10252016,F,NaN,EK,9.461277e+10,00215,B2,California,PHILIPPINES,LOS ANGELES
14,682005,1387607.0,2016,4,148.0,112.0,BOS,20552.0,1.0,MA,...,07062016,F,NaN,AF,5.583339e+10,00338,WT,Massachusetts,GERMANY,BOSTON
16,530804,1056530.0,2016,4,512.0,512.0,NAS,20550.0,1.0,GA,...,10052016,F,NaN,DL,9.285800e+10,00554,B2,Georgia (State),BAHAMAS,"NASSAU, BAHAMAS"
17,1187149,2466971.0,2016,4,689.0,689.0,FTL,20557.0,1.0,FL,...,10122016,NaN,NaN,AD,9.338490e+10,08704,B2,Florida,BRAZIL,FORT LAUDERDALE
18,2283033,4668286.0,2016,4,746.0,158.0,SEA,20568.0,1.0,NV,...,10232016,M,NaN,DL,9.443560e+10,00143,B2,Nevada,RUSSIA,SEATTLE
19,1262082,2556646.0,2016,4,260.0,260.0,FTL,20558.0,1.0,CA,...,10132016,M,NaN,OZ,9.353685e+10,00204,B2,California,PHILIPPINES,FORT LAUDERDALE
20,1991158,4042798.0,2016,4,115.0,115.0,ORL,20566.0,1.0,FL,...,07202016,NaN,NaN,FI,5.909986e+10,00689,WT,Florida,ICELAND,ORLANDO
21,1024013,2139030.0,2016,4,689.0,689.0,PSP,20555.0,1.0,HI,...,10102016,NaN,NaN,AA,9.325274e+10,00962,B2,Hawaii,BRAZIL,PALM SPRINGS
22,1510003,3097076.0,2016,4,111.0,511.0,NYC,20561.0,1.0,NY,...,07152016,F,NaN,DY,5.630712e+10,06750,WT,New York,MARTINIQUE,NEW YORK
23,1362539,2741251.0,2016,4,251.0,251.0,HOU,20559.0,1.0,CA,...,10142016,M,NaN,BA,9.365477e+10,00273,B2,California,ISRAEL,HOUSTON
24,1348385,2721962.0,2016,4,209.0,209.0,NEW,20559.0,1.0,HI,...,07132016,NaN,NaN,HA,5.621703e+10,00458,WT,Hawaii,JAPAN,NEWARK/TETERBORO
25,262209,513779.0,2016,4,268.0,268.0,SFR,20547.0,1.0,TX,...,07012016,F,NaN,UA,5.553053e+10,00872,WT,Texas,TAIWAN,SAN FRANCISCO
27,2509117,5070551.0,2016,4,213.0,213.0,LOS,20571.0,1.0,CA,...,10262016,M,NaN,QR,9.469486e+10,00739,B2,California,INDIA,LOS ANGELES
28,972682,2006623.0,2016,4,135.0,135.0,ORL,20555.0,1.0,FL,...,07092016,M,NaN,VS,5.599644e+10,00075,WT,Florida,UNITED KINGDOM,ORLANDO
29,1387092,2826530.0,2016,4,582.0,582.0,SNJ,20559.0,1.0,CA,...,10142016,F,NaN,Y4,9.361788e+10,00930,B2,California,"MEXICO Air Sea, and Not Reported (I-94, no lan...",SAN JOSE
30,2814795,5692439.0,2016,4,133.0,264.0,HOU,20574.0,1.0,NV,...,10292016,M,NaN,TK,9.502151e+10,00033,B1,Nevada,TURKEY,HOUSTON
31,2888997,5835717.0,2016,4,582.0,582.0,DET,20574.0,1.0,FL,...,10292016,F,NaN,AA,9.495765e+10,01498,B2,Florida,"MEXICO Air Sea, and Not Reported (I-94, no lan...",DETROIT
32,1371146,2752883.0,2016,4,373.0,509.0,DET,20559.0,1.0,NY,...,10142016,M,NaN,AA,9.360522e+10,01428,B2,New York,BERMUDA,DETROIT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
967,332273,674661.0,2016,4,148.0,112.0,NYC,20548.0,1.0,NY,...,07022016,F,NaN,SQ,5.559189e+10,00026,WT,New York,GERMANY,NEW YORK
968,3072097,499823.0,2016,4,245.0,245.0,STR,20547.0,3.0,CA,...,08152016,M,NaN,NaN,8.833286e+10,00583,B1,California,"CHINA, PRC",SANTA TERESA
969,1246769,2536368.0,2016,4,209.0,209.0,ORL,20558.0,1.0,TN,...,12112017,M,NaN,JL,9.348663e+10,00012,E2,Tennessee,JAPAN,ORLANDO
970,580640,1185184.0,2016,4,135.0,135.0,LOS,20551.0,1.0,CA,...,07052016,M,NaN,NZ,5.579231e+10,00001,WT,California,UNITED KINGDOM,LOS ANGELES
972,511900,1032729.0,2016,4,213.0,213.0,PHI,20550.0,1.0,NJ,...,10052016,M,NaN,BA,9.291274e+10,00069,B2,New Jersey,INDIA,PHILADELPHIA
973,2299379,4687494.0,2016,4,123.0,123.0,TOR,20569.0,1.0,OH,...,07232016,M,NaN,ZX,5.924649e+10,07365,WT,Ohio,NETHERLANDS,"TORONTO, CANADA"
974,1917150,3870400.0,2016,4,148.0,112.0,ATL,20565.0,1.0,CA,...,07192016,NaN,NaN,DL,5.652541e+10,00131,WT,California,GERMANY,ATLANTA
975,655536,1355619.0,2016,4,111.0,111.0,MIA,20552.0,1.0,FL,...,07062016,M,NaN,AF,5.583605e+10,00090,WT,Florida,FRANCE,MIAMI
976,2464420,5018908.0,2016,4,111.0,111.0,MON,20571.0,1.0,FL,...,07252016,M,NaN,RV,5.933928e+10,01606,WT,Florida,FRANCE,"MONTREAL, CANADA"
979,484243,1000074.0,2016,4,129.0,687.0,DAL,20550.0,1.0,CA,...,07042016,M,NaN,AA,5.569490e+10,00940,WT,California,ARGENTINA,DALLAS
980,2860187,5746779.0,2016,4,245.0,245.0,PHI,20574.0,1.0,PA,...,10292016,M,NaN,AA,9.500985e+10,00288,B2,Pennsylvania,"CHINA, PRC",PHILADELPHIA
981,1581326,3187040.0,2016,4,464.0,464.0,HOU,20561.0,1.0,FL,...,07152016,F,NaN,NZ,5.630799e+10,00028,WT,Florida,NEW ZEALAND,HOUSTON
982,1106053,2302459.0,2016,4,696.0,696.0,FTL,20556.0,1.0,FL,...,10112016,F,NaN,2D,9.337128e+10,00406,B2,Florida,VENEZUELA,FORT LAUDERDALE
983,721504,1481945.0,2016,4,577.0,577.0,HOU,20552.0,1.0,PA,...,10072016,F,NaN,UA,9.301863e+10,01901,B2,Pennsylvania,GUATEMALA,HOUSTON
984,1540368,3133114.0,2016,4,148.0,112.0,FTL,20560.0,1.0,VA,...,07152016,M,NaN,LH,5.629125e+10,00414,WB,Virginia,GERMANY,FORT LAUDERDALE
985,2746796,5510883.0,2016,4,263.0,263.0,NYC,20573.0,1.0,NY,...,10282016,F,NaN,KE,9.485471e+10,00081,B2,New York,THAILAND,NEW YORK
986,2753556,5518986.0,2016,4,438.0,438.0,SFR,20573.0,1.0,CA,...,07272016,M,NaN,QF,5.947464e+10,00073,WT,California,AUSTRALIA,SAN FRANCISCO
987,170762,306972.0,2016,4,438.0,438.0,HHW,20546.0,1.0,HI,...,06302016,F,NaN,HA,5.550622e+10,00444,WT,Hawaii,AUSTRALIA,HONOLULU
988,697642,1407986.0,2016,4,245.0,245.0,SFR,20552.0,1.0,CA,...,10072016,M,NaN,MU,9.303277e+10,00589,B2,California,"CHINA, PRC",SAN FRANCISCO
989,659597,1360834.0,2016,4,117.0,117.0,NYC,20552.0,1.0,NY,...,07062016,NaN,NaN,TK,5.583149e+10,00001,WT,New York,ITALY,NEW YORK
990,2590789,5242730.0,2016,4,135.0,509.0,HAM,20572.0,1.0,MA,...,10272016,F,NaN,DL,9.475131e+10,00560,B2,Massachusetts,BERMUDA,"HAMILTON, BERMUDA"
991,846327,1777652.0,2016,4,107.0,107.0,CHI,20554.0,1.0,IL,...,10092016,F,NaN,LH,9.319662e+10,00430,B1,Illinois,POLAND,CHICAGO
992,1920712,3874218.0,2016,4,148.0,112.0,SFR,20565.0,1.0,CA,...,07192016,NaN,NaN,LH,5.653427e+10,00454,WT,California,GERMANY,SAN FRANCISCO
993,451881,930868.0,2016,4,582.0,582.0,WAS,20549.0,1.0,DC,...,10042016,M,NaN,UA,9.282073e+10,01567,B2,District Of Columbia,"MEXICO Air Sea, and Not Reported (I-94, no lan...",WASHINGTON DC
994,2517187,5081809.0,2016,4,254.0,276.0,BOS,20571.0,1.0,MI,...,07252016,F,NaN,DL,5.932276e+10,00158,WT,Michigan,SOUTH KOREA,BOSTON
995,2117909,4288772.0,2016,4,135.0,135.0,LVG,20567.0,1.0,NV,...,07212016,M,NaN,VS,5.914065e+10,00043,WT,Nevada,UNITED KINGDOM,LAS VEGAS
996,1463022,2947585.0,2016,4,261.0,261.0,PSP,20560.0,1.0,HI,...,10152016,M,NaN,SV,9.371186e+10,00041,B1,Hawaii,SAUDI ARABIA,PALM SPRINGS
997,1414569,2883298.0,2016,4,111.0,111.0,MIA,20560.0,1.0,FL,...,07142016,M,NaN,AF,5.627747e+10,00090,WT,Florida,FRANCE,MIAMI
998,1094181,2264857.0,2016,4,582.0,582.0,ATL,20556.0,1.0,WI,...,10112016,M,NaN,EV,9.334035e+10,05510,B1,Wisconsin,"MEXICO Air Sea, and Not Reported (I-94, no lan...",ATLANTA
999,2271807,4654865.0,2016,4,687.0,687.0,MIA,20568.0,1.0,FL,...,10232016,F,NaN,LA,9.440386e+10,02514,B2,Florida,ARGENTINA,MIAMI

In [68]:
df_immigration_filtered["year"] = df_immigration_filtered["i94yr"]
df_immigration_filtered["month"] = df_immigration_filtered["i94mon"]
df_immigration_filtered["state_code"] = df_immigration_filtered["i94addr"]

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [70]:
new_I94_Data = df_immigration_filtered[['cicid','year','month','origin_country','i94port','city_port_name','state_code','dest_state_name']]

In [71]:
new_I94_Data.head()

,cicid,year,month,origin_country,i94port,city_port_name,state_code,dest_state_name
0,4084316.0,2016,4,JAPAN,HHW,HONOLULU,HI,Hawaii
1,4422636.0,2016,4,"MEXICO Air Sea, and Not Reported (I-94, no lan...",MCA,MCALLEN,TX,Texas
2,1195600.0,2016,4,GERMANY,OGG,KAHULUI - MAUI,FL,Florida
3,5291768.0,2016,4,QATAR,LOS,LOS ANGELES,CA,California
4,985523.0,2016,4,FRANCE,CHM,CHAMPLAIN,NY,New York

In [190]:
set(list(new_I94_Data["year"]))

{2016}

### U.S. Demographic Data by State

In [172]:
df_demographics["percentage_male"] = df_demographics.apply(lambda row: float(row["Male Population"]/row["Total Population"])*100.0,axis=1)
df_demographics["percentage_female"] = df_demographics.apply(lambda row: float(row["Female Population"]/row["Total Population"])*100.0,axis=1)
df_demographics["percentage_veterans"] = df_demographics.apply(lambda row: float(row["Number of Veterans"]/row["Total Population"])*100.0,axis=1)
df_demographics["percentage_foreign_born"] = df_demographics.apply(lambda row: float(row["Foreign-born"]/row["Total Population"])*100.0,axis=1)
df_demographics["percentage_race"] = df_demographics.apply(lambda row: float(row["Count"]/row["Total Population"])*100.0,axis=1)
df_demographics["state_code"] = df_demographics["State Code"]
df_demographics["median_age"] = df_demographics["Median Age"]

In [173]:
df_demographics.loc[df_demographics["Race"] == "American Indian and Alaska Native","Race"] = "Native"
df_demographics.loc[df_demographics["Race"] == "Black or African-American","Race"] = "Afroamerican"
df_demographics.loc[df_demographics["Race"] == "Hispanic or Latino","Race"] = "Latino"

In [174]:
df_demographics[(df_demographics["State"]=="Kansas")&(df_demographics["City"]=="Wichita")]

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count,percentage_male,percentage_female,percentage_veterans,percentage_foreign_born,percentage_race,state_code,median_age
13,Wichita,Kansas,34.6,192354.0,197601.0,389955,23978.0,40270.0,2.56,KS,Latino,65162,49.32723,50.67277,6.148915,10.326833,16.710133,KS,34.6
14,Wichita,Kansas,34.6,192354.0,197601.0,389955,23978.0,40270.0,2.56,KS,Native,8791,49.32723,50.67277,6.148915,10.326833,2.254363,KS,34.6
605,Wichita,Kansas,34.6,192354.0,197601.0,389955,23978.0,40270.0,2.56,KS,White,305910,49.32723,50.67277,6.148915,10.326833,78.447513,KS,34.6
973,Wichita,Kansas,34.6,192354.0,197601.0,389955,23978.0,40270.0,2.56,KS,Asian,25210,49.32723,50.67277,6.148915,10.326833,6.464849,KS,34.6
1006,Wichita,Kansas,34.6,192354.0,197601.0,389955,23978.0,40270.0,2.56,KS,Afroamerican,52592,49.32723,50.67277,6.148915,10.326833,13.486684,KS,34.6

In [175]:
us_df_demographics = pd.pivot_table(df_demographics,values='percentage_race',index=["State","state_code","median_age","percentage_male","percentage_female","percentage_veterans","percentage_foreign_born"],columns=["Race"], aggfunc=np.mean, fill_value=0)
us_df_demographics = pd.DataFrame(us_df_demographics.to_records())

In [176]:
us_df_demographics

,State,state_code,median_age,percentage_male,percentage_female,percentage_veterans,percentage_foreign_born,Afroamerican,Asian,Latino,Native,White
0,Alabama,AL,29.1,48.092294,51.907706,3.708638,4.785536,43.046432,2.779190,2.516830,0.265411,53.492038
1,Alabama,AL,35.4,47.152842,52.847158,7.455655,4.654861,60.502727,3.249479,3.314289,0.636635,36.665071
2,Alabama,AL,35.6,47.518275,52.481725,6.147661,3.842521,73.511826,0.697963,4.159862,0.613742,24.069499
3,Alabama,AL,38.0,46.975116,53.024884,6.144464,3.723013,49.611178,2.839865,2.691130,1.449268,48.251460
4,Alabama,AL,38.1,48.523113,51.476887,8.797339,6.710767,32.552323,3.471980,5.756845,0.928012,64.460590
5,Alabama,AL,38.5,44.837869,55.162131,5.680171,9.699549,21.441790,5.609448,4.042952,0.000000,72.925188
6,Alabama,AL,38.9,47.636816,52.363184,9.378702,2.515695,34.415719,1.739813,2.523099,0.971334,64.433783
7,Alaska,AK,32.2,51.204406,48.795594,9.204038,11.134435,7.735985,12.328630,9.126701,12.165922,71.208423
8,Arizona,AZ,29.1,47.980368,52.019632,5.967800,10.355341,14.367339,3.505075,43.027651,0.759764,77.062082
9,Arizona,AZ,35.6,49.412843,50.587157,6.084353,14.845131,6.196685,12.682061,21.914022,2.530738,79.741827
10,Arizona,AZ,23.9,47.248887,52.751113,5.214955,6.061123,4.471181,3.762959,19.349517,7.277045,83.473413
11,Arizona,AZ,28.8,51.954773,48.045227,4.014196,15.139968,6.422827,9.860885,25.254513,2.636698,74.133518
12,Arizona,AZ,31.3,48.829064,51.170936,5.193425,6.953150,2.448156,1.664312,22.625216,4.759834,91.101127
13,Arizona,AZ,33.2,47.151578,52.848422,4.370099,9.910594,3.666730,7.975016,16.134662,2.409877,85.374692
14,Arizona,AZ,33.4,51.301715,48.698285,7.628658,20.527909,3.963036,1.253386,60.602262,1.304371,74.025174
15,Arizona,AZ,33.6,49.822448,50.177552,7.181468,15.464364,6.376088,4.643635,43.452379,4.590971,76.050738
16,Arizona,AZ,33.8,50.341171,49.658829,4.631347,19.238759,8.505369,4.248430,42.860753,2.671016,74.309293
17,Arizona,AZ,34.4,48.641479,51.358521,5.514464,18.380019,6.769285,6.349068,34.863023,1.692529,84.351183
18,Arizona,AZ,36.9,46.798683,53.201317,7.602691,8.327396,4.971911,3.872298,24.018056,1.814975,88.314783
19,Arizona,AZ,36.9,49.805334,50.194666,6.741368,12.184820,4.810812,3.096011,27.854135,3.400356,87.533089
20,Arizona,AZ,38.6,46.467856,53.532144,9.683177,14.903232,10.984393,7.216182,27.344531,1.646773,80.367834
21,Arizona,AZ,39.4,48.952056,51.047944,8.649040,7.730337,7.068560,2.454805,19.748992,1.466031,89.860793
22,Arizona,AZ,44.8,47.330116,52.669884,10.114150,10.762277,2.840726,4.610434,20.851911,3.136444,90.333257
23,Arizona,AZ,46.9,48.855787,51.144213,7.092432,11.487308,2.228893,4.878739,10.456672,2.956799,86.771039
24,Arkansas,AR,33.6,47.621267,52.378733,6.209966,4.190599,46.260488,0.000000,7.307611,1.072084,51.300635
25,Arkansas,AR,27.1,50.655544,49.344456,5.727255,7.621451,8.362710,5.682586,6.682200,2.484547,83.095905
26,Arkansas,AR,31.8,45.790141,54.209859,4.222289,24.820394,2.310637,1.767470,37.536978,0.679892,70.652795
27,Arkansas,AR,32.6,48.258599,51.741401,4.982004,4.359592,19.753471,1.734636,6.243066,2.853625,76.618948
28,Arkansas,AR,34.9,49.147911,50.852089,3.864165,14.940756,11.169567,7.061625,19.393390,3.393616,74.838710
29,Arkansas,AR,36.6,48.991848,51.008152,6.234279,8.404635,43.238411,4.254341,7.828836,0.485388,51.676381
...,...,...,...,...,...,...,...,...,...,...,...,...
558,Virginia,VA,36.0,48.409072,51.590928,5.264551,38.724193,9.367251,34.908473,13.391937,0.494553,54.510880
559,Virginia,VA,28.7,48.381196,51.618804,5.415226,5.467849,29.157270,3.646068,3.369168,1.283015,67.316945
560,Virginia,VA,38.2,48.828847,51.171153,11.472193,3.208902,44.358617,2.549880,4.014247,0.571681,52.696771
561,Virginia,VA,32.8,48.460674,51.539326,10.360501,6.902432,43.449297,4.537106,8.652027,1.206788,52.170409
562,Washington,WA,33.2,50.074132,49.925868,8.557351,11.563057,2.695700,9.262726,10.695940,4.882213,88.200320
563,Washington,WA,33.4,48.695673,51.304327,6.289283,30.068052,16.107182,20.610891,17.271310,2.875664,53.494746
564,Washington,WA,36.6,48.181857,51.818143,8.460756,6.214276,4.710058,4.247727,6.266792,3.372299,90.563941
565,Washington,WA,30.7,48.490187,51.509813,5.523648,10.233372,2.730700,9.407702,8.181530,2.414761,87.127538
566,Washington,WA,34.0,48.182497,51.817503,5.021345,16.773746,0.986126,2.399146,47.141942,2.179296,84.616862
567,Washington,WA,35.5,50.502233,49.497767,4.290204,17.509128,9.054662,17.752684,6.291247,1.870718,74.717836
568,Washington,WA,37.0,52.042366,47.957634,7.295486,18.052624,7.688035,9.079547,14.710403,3.374625,81.838129
569,Washington,WA,37.1,48.102638,51.897362,7.052755,19.381039,5.265082,16.115174,14.149909,3.972317,76.120397
570,Washington,WA,37.2,47.993382,52.006618,7.168519,12.581789,4.350517,6.295523,13.412553,2.627088,86.699681
571,Washington,WA,37.7,48.528012,51.471988,9.156047,15.322433,14.866074,12.940130,12.389517,2.668430,72.064919
572,Washington,WA,40.8,48.310358,51.689642,5.908304,21.279521,1.192891,17.506045,7.700505,1.323524,80.776238
573,Washington,WA,36.4,51.635710,48.364290,7.495693,19.503509,16.278312,16.836156,14.759213,2.517124,62.019372
574,Washington,WA,36.0,52.612003,47.387997,8.412357,4.424285,1.255953,1.407679,5.384162,2.605681,96.014035
575,Washington,WA,36.3,52.648957,47.351043,5.019602,28.890640,12.234780,22.494439,15.354075,2.332239,58.107475
576,Washington,WA,28.6,51.834883,48.165117,3.013349,23.885046,3.326138,3.252713,57.099432,1.547792,81.855295
577,Washington,WA,32.0,48.783950,51.216050,6.537141,10.615566,3.658923,5.388895,24.580814,1.395384,82.668593
578,Washington,WA,37.4,50.612242,49.387758,3.849400,39.090506,2.968944,37.351767,8.736607,1.393995,58.919708
579,Wisconsin,WI,35.6,49.454521,50.545479,5.606272,5.918544,4.527274,7.389542,6.828782,1.109561,85.939805
580,Wisconsin,WI,30.7,49.244043,50.755957,3.899083,12.086473,8.203859,9.614952,7.911840,0.922251,82.063497
581,Wisconsin,WI,31.6,47.706922,52.293078,3.434952,9.717672,41.347554,4.137605,18.384448,1.801704,49.493630
582,Wisconsin,WI,33.7,50.573086,49.426914,5.981708,5.663970,25.745784,1.511507,23.431571,1.763639,67.464656
583,Wisconsin,WI,35.8,50.382072,49.617928,4.329221,6.921752,2.671724,4.034678,13.494776,0.668278,92.748972
584,Wisconsin,WI,36.3,49.420165,50.579835,6.246996,7.453733,11.932182,2.540659,18.799071,1.265823,84.902259
585,Wisconsin,WI,33.0,49.438827,50.561173,5.722914,3.527803,4.173866,4.780865,2.962874,0.356086,90.463813
586,Wisconsin,WI,32.9,49.911139,50.088861,5.245151,9.326085,7.185828,5.371551,15.953089,6.222142,77.962574
587,Wisconsin,WI,32.0,47.939436,52.060564,4.835911,4.201207,1.075141,6.231370,2.206635,1.299067,92.230807

### U.S. Airport Data by State

In [85]:
df_airport.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

In [185]:
us_df_airport = df_airport[df_airport["iso_country"]=="US"]
us_df_airport = us_df_airport[(us_df_airport["type"]=="small_airport")|(us_df_airport["type"]=="medium_airport")|(us_df_airport["type"]=="large_airport")]

In [186]:
us_df_airport["elevation_ft"] = us_df_airport.apply(lambda row: float(row["elevation_ft"]),axis=1)
us_df_airport["state_code"] = us_df_airport.apply(lambda row: row["iso_region"].split("-")[-1],axis=1)
us_df_airport["x_coordinate"] = us_df_airport.apply(lambda row: float(row["coordinates"].split(",")[0]),axis=1)
us_df_airport["y_coordinate"] = us_df_airport.apply(lambda row: float(row["coordinates"].split(",")[-1]),axis=1)

In [187]:
us_df_airport["country"] = us_df_airport["iso_country"]
us_df_airport = us_df_airport[["ident","type","name","elevation_ft","country","state_code","municipality","x_coordinate","y_coordinate"]]

In [188]:
us_df_airport

,ident,type,name,elevation_ft,country,state_code,municipality,x_coordinate,y_coordinate
1,00AA,small_airport,Aero B Ranch Airport,3435.0,US,KS,Leoti,-101.473911,38.704022
2,00AK,small_airport,Lowell Field,450.0,US,AK,Anchor Point,-151.695999,59.949200
3,00AL,small_airport,Epps Airpark,820.0,US,AL,Harvest,-86.770302,34.864799
5,00AS,small_airport,Fulton Airport,1100.0,US,OK,Alex,-97.818019,34.942803
6,00AZ,small_airport,Cordes Airport,3810.0,US,AZ,Cordes,-112.165001,34.305599
7,00CA,small_airport,Goldstone /Gts/ Airport,3038.0,US,CA,Barstow,-116.888000,35.350498
8,00CL,small_airport,Williams Ag Airport,87.0,US,CA,Biggs,-121.763427,39.427188
11,00FA,small_airport,Grass Patch Airport,53.0,US,FL,Bushnell,-82.219002,28.645500
13,00FL,small_airport,River Oak Airport,35.0,US,FL,Okeechobee,-80.969200,27.230900
14,00GA,small_airport,Lt World Airport,700.0,US,GA,Lithonia,-84.068298,33.767502
17,00ID,small_airport,Delta Shores Airport,2064.0,US,ID,Clark Fork,-116.213997,48.145302
18,00IG,small_airport,Goltl Airport,3359.0,US,KS,McDonald,-101.395994,39.724028
20,00IL,small_airport,Hammer Airport,840.0,US,IL,Polo,-89.560402,41.978401
22,00IS,small_airport,Hayenga's Cant Find Farms Airport,820.0,US,IL,Kings,-89.122902,40.025600
23,00KS,small_airport,Hayden Farm Airport,1100.0,US,KS,Gardner,-94.930496,38.727798
24,00KY,small_airport,Robbins Roost Airport,1265.0,US,KY,Stanford,-84.619698,37.409401
27,00LS,small_airport,Lejeune Airport,12.0,US,LA,Esterwood,-92.429398,30.136299
28,00MD,small_airport,Slater Field,45.0,US,MD,Federalsburg,-75.753799,38.757099
30,00MN,small_airport,Battle Lake Municipal Airport,1365.0,US,MN,Battle Lake,-95.700302,46.299999
31,00MO,small_airport,Cooper Flying Service Airport,970.0,US,MO,Alba,-94.412399,37.202801
33,00N,small_airport,Bucks Airport,105.0,US,NJ,Bridgeton,-75.185204,39.473202
34,00NC,small_airport,North Raleigh Airport,348.0,US,NC,Louisburg,-78.371399,36.085201
37,00NY,small_airport,Weiss Airfield,1000.0,US,NY,West Bloomfield,-77.499702,42.900101
38,00OH,small_airport,Exit 3 Airport,785.0,US,OH,Wauseon,-84.142197,41.590900
40,00OK,small_airport,Gull Bay Landing Airport,960.0,US,OK,Sandsprings,-96.217693,36.198598
43,00PN,small_airport,Ferrell Field,1301.0,US,PA,Mercer,-80.211111,41.299500
45,00S,small_airport,Mc Kenzie Bridge State Airport,1620.0,US,OR,Mc Kenzie Bridge,-122.088997,44.183201
46,00SC,small_airport,Flying O Airport,150.0,US,SC,Sumter,-80.267197,34.009399
47,00SD,small_airport,Homan Field,1590.0,US,SD,Gary,-96.498897,44.809158
50,00TN,small_airport,Ragsdale Road Airport,1100.0,US,TN,Manchester,-85.953598,35.515900
...,...,...,...,...,...,...,...,...,...
52740,Y58,small_airport,Sleepy Eye Municipal Airport,1004.0,US,MN,Sleepy Eye,-94.716904,44.250000
52741,Y63,small_airport,Elbow Lake Municipal - Pride of the Prairie Ai...,1205.0,US,MN,Elbow Lake,-95.991997,45.986099
52742,Y71,small_airport,Elgin Municipal Airport,2355.0,US,ND,Elgin,-101.845001,46.382801
52743,Y73,small_airport,Stambaugh Airport,1622.0,US,MI,Iron River,-88.635498,46.078800
52744,Y76,small_airport,Morningstar Field,805.0,US,IA,Des Moines,-93.644096,41.655499
52745,Y77,small_airport,Bayfield County Airport,1143.0,US,WI,Iron River,-91.458504,46.576302
52746,Y87,small_airport,Empire Airport,944.0,US,MI,Empire,-86.004303,44.787498
52747,Y88,small_airport,Green Lake Airport,866.0,US,MI,Interlochen,-85.758400,44.606098
52748,Y91,small_airport,Home Acres Sky Ranch Airport,1247.0,US,MI,Lake City,-85.171204,44.320301
52749,Y96,small_airport,Leo E. Goetz County Airport,830.0,US,MI,Onaway,-84.224998,45.370800
52750,Y98,small_airport,Grand Marais Airport,838.0,US,MI,Grand Marais,-85.916801,46.620800
52751,Y99,small_airport,Trulson Field,2105.0,US,ND,Plaza,-101.953003,48.030602
54550,Z13,small_airport,Akiachak Airport,23.0,US,AK,Akiachak,-161.421997,60.904800
54551,Z14,small_airport,Tazlina Airport,2450.0,US,AK,Tazlina,-146.460999,62.064800
54552,Z17,small_airport,Ophir Airport,575.0,US,AK,Ophir,-156.529999,63.146000
54557,Z25,small_airport,Tripod Airport,225.0,US,AK,Aleknagik,-158.557755,59.263146
54559,Z40,small_airport,Goose Bay Airport,78.0,US,AK,Goose Bay,-149.845993,61.394501
54560,Z41,small_airport,Lake Hood Strip,73.0,US,AK,Anchorage,-149.964996,61.186901
54562,Z47,small_airport,Engstrom Field,143.0,US,AK,Basin Creek,-165.299205,64.679090
54563,Z48,small_airport,Bear Creek 3 Airport,740.0,US,AK,Bear Creek,-156.149454,63.573316
54564,Z52,small_airport,Johnsons Landing Airport,130.0,US,AK,Bear Lake,-160.266006,56.036701
54565,Z55,small_airport,Lake Louise Airport,2450.0,US,AK,Lake Louise,-146.578995,62.293701
54570,Z81,small_airport,Salmon Lake Airport,490.0,US,AK,Salmon Lake,-165.013000,64.909203
54571,Z86,small_airport,Clearwater Airport,2900.0,US,AK,Clearwater,-147.179001,63.026798
54573,Z90,small_airport,Stampede Airport,1850.0,US,AK,Kantishna,-150.330002,63.748699
54574,Z91,small_airport,Birch Creek Airport,450.0,US,AK,Birch Creek,-145.824005,66.274002
54575,Z92,small_airport,Harsens Island Airport,578.0,US,MI,Harsens Island,-82.576401,42.589699
54576,Z93,small_airport,Copper Center 2 Airport,1150.0,US,AK,Copper Center,-145.294006,61.941200
54577,Z95,small_airport,Cibecue Airport,5037.0,US,AZ,Cibecue,-110.444000,34.003300
54896,ZNC,small_airport,Nyac Airport,460.0,US,AK,Nyac,-159.994003,60.980701

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [ ]:
# Write code here

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [ ]:
# Perform quality checks here

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.